
body {
  background-color: #58545c;
	font-size: 9pt;
	color: #fff;
}

:root {
	--dt-header-color: #283034;
	--dt-background-color: rgb(61, 68, 73);
}

.d td { cursor: pointer; color: #8f8; }
.s { display: table-row; }
.h { display: none; }


table {
	width: 90%;
	margin: 10px auto 4px auto;
	border-radius: 10px;
	border-collapse: collapse;
	border: none;
	font-family: sans-serif;
	background-color: var(--dt-background-color);	
}

th, td {
	padding: 1px 10px 1px 10px;
}

.l0 td { padding-left: 10px }
.l1 td { padding-left: 20px }
.l2 td { padding-left: 30px }
.l3 td { padding-left: 40px }
.l4 td { padding-left: 50px }

th {
	font-weight: normal;
  font-size: 10pt;
	text-align: center;
	background-color: var(--dt-header-color);
	color: #ddd;
}

td {
	text-align: left;
  font-size: 9pt;
	border-top: 1px solid #333;
	color: #8ff;
}

/* table border */
th:first-child {
	border-right: 1px solid #222;
	width: 50%;
}

td:first-child {
	border-right: 1px solid #222;
}

/* corner rounding */
table tr:first-child th:first-child {
  border-radius: 10px 0 0 0;
}
table tr:first-child th:last-child {
  border-radius: 0 10px 0 0;
}
table tr:last-child td:first-child {
  border-radius: 0 0 10px 0;
}
table tr:last-child td:last-child {
  border-radius: 0 0 0 10px;
}

#title {
	position: absolute;
	left: 5%;
}

h1 {
	font-size: 14px;
	margin: 2px 0 0 10px;
	padding: 0px;
	color: #eee;
}

#control {
	margin: 12px 5% 5px auto;
	width: 360px;
	display: flex;
}

#collapse, #expand {
	width: 70px;
	cursor: pointer;
	margin: 4px 8px;
	color: #bb6;
	font-size: 11px;
}

#cnt_selection, #cnt_full {
	margin-left: 10px;
	font-size: 9px;
	color: #aaa;
}

#search {
	width: 200px;
	height: 24px;
	font-size: 12px;
	padding: 2px 0px 2px 10px;
	background-color: var(--dt-background-color);
	display: block;
	box-sizing: border-box;
	border-radius: 8px;
	border: solid 1px #222;
	color: #eee;
}

#update {
	width: 88%;
	margin: 0 6%;
	text-align: right;
	font-size: 10px;
	color: #aaa;
}

#about {
	margin-top: -16px;
	text-align:center;
}

#about a {
	color: #aaa;
	text-decoration: none;
}